USE [master]
GO
/****** Object:  Database [NewDB]    Script Date: 2/15/2021 11:56:26 PM ******/
CREATE DATABASE [NewDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'xml_data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\xml_data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'xml_data_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\xml_data_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewDB]
GO
USE [NewDB]
GO
/****** Object:  User [Yanesh]    Script Date: 2/15/2021 11:56:26 PM ******/
CREATE USER [Yanesh] FOR LOGIN [Yanesh] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NewUser]    Script Date: 2/15/2021 11:56:26 PM ******/
CREATE USER [NewUser] FOR LOGIN [NewUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Yanesh]
GO
ALTER ROLE [db_owner] ADD MEMBER [NewUser]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/15/2021 11:56:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [nchar](10) NOT NULL,
	[Contact_Name] [nvarchar](255) NULL,
	[Customer_Type] [nvarchar](255) NULL,
	[Date_Of_Birth] [date] NULL,
	[Registration_No] [nvarchar](55) NULL,
	[Date_Incorp] [date] NULL,
	[Address_Line1] [nvarchar](255) NULL,
	[Address_Line2] [nvarchar](255) NULL,
	[Town_City] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[Contact_Number] [bigint] NULL,
	[Num_Shares] [bigint] NULL,
	[Share_Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 2/15/2021 11:56:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[id] [int] NOT NULL,
	[Doc_date] [date] NULL,
	[Doc_Ref] [nvarchar](50) NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
